@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url("./backgr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 35%;
  font-family: 'Montserrat', sans-serif; }

.shoppingCart {
  border-radius: 60px;
  border: 2px solid black;
  margin-right: 20px; }
  .shoppingCart img {
    width: 35px;
    margin: 10px; }
  .shoppingCart .shoppingCart:hover {
    background-color: rgba(52, 202, 52, 0.945); }
  .shoppingCart .shoppingCart:active {
    background-color: rgba(41, 161, 41, 0.945); }
  .shoppingCart .counter-cart {
    background-color: #43a52a;
    color: white;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 14px;
    padding: 4px;
    top: 2px;
    right: 34px;
    position: absolute;
    display: none; }

.modalContainer {
  width: 27%;
  margin: 0 72%;
  max-height: 80vh;
  color: white;
  background-color: rgba(37, 37, 37, 0.829);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 4vh;
  scrollbar-color: none;
  backdrop-filter: blur(10px);
  border-radius: 15px; }
  .modalContainer .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85%; }
    .modalContainer .modal-content h3 {
      font-size: 13px;
      width: 80px; }
  .modalContainer .cartImage {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin: 10px; }
  .modalContainer .modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    color: rgba(204, 16, 2, 0.89);
    background-color: #1a1818f6;
    margin-bottom: 20px;
    border-bottom: 2px solid white; }
  .modalContainer .modal-title {
    justify-self: start;
    margin-left: 20px;
    font-size: 24px; }
  .modalContainer .modal-header-button {
    cursor: pointer;
    margin-right: 20px;
    font-size: 33px; }
    .modalContainer .modal-header-button .modal-header-button:hover {
      color: white; }
  .modalContainer .total-content {
    margin: 10px;
    font-size: 20px;
    color: #8bf559;
    padding: 20px;
    margin-left: 60%; }
  .modalContainer .deleteProduct {
    cursor: pointer; }
  .modalContainer .emptyButton {
    margin-bottom: 50px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 25px;
    background-color: rgba(204, 16, 2, 0.89);
    color: white; }
  .modalContainer .buyButton {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 25px;
    background-color: #418d1e;
    color: white; }
  .modalContainer .less {
    cursor: pointer;
    font-size: 15px;
    color: white; }
  .modalContainer .plus {
    cursor: pointer;
    font-size: 15px;
    color: white; }

.modalContainer::-webkit-scrollbar {
  display: none; }

.img-1 {
  display: flex;
  width: 100%;
  height: 200px; }
  .img-1 .logo-1 {
    width: 25%; }
  .img-1 .repuestos {
    width: 75%;
    border-left: 5px solid rgba(204, 16, 2, 0.89);
    object-fit: cover; }

.logo-2 {
  border-radius: 30%;
  height: 65px;
  width: 65px;
  border: 2px solid black; }

.navbar {
  background-color: rgba(204, 16, 2, 0.89); }
  .navbar .nav-item a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px; }

.shop {
  display: flex;
  text-align: center;
  border-top: 5px solid rgba(219, 12, 12, 0.534);
  padding-top: 10px; }
  .shop .filters {
    width: 15%; }
    .shop .filters ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      list-style: none; }
      .shop .filters ul h3 {
        color: white;
        margin: auto;
        text-align: center;
        background-color: rgba(250, 44, 44, 0.493);
        border-radius: 5px;
        padding: 15px;
        font-size: 28px;
        width: 95%;
        border: 3px double white; }
      .shop .filters ul button {
        background-color: rgba(160, 102, 102, 0.493);
        color: white;
        padding: 15px;
        margin: 5px 0;
        border: 1px solid white;
        width: 97%;
        border-radius: 5px; }
      .shop .filters ul .active {
        border-radius: 35px 0 0 35px;
        width: 100%;
        position: relative;
        border: 1px solid white;
        border-right: none; }

#pruebaDom {
  background-color: rgba(160, 102, 102, 0.493);
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  justify-items: center;
  margin: auto;
  margin-right: 20%;
  margin-bottom: 50px;
  width: 70%;
  height: 75vh;
  overflow-y: scroll;
  padding: 10px; }

#pruebaDom::-webkit-scrollbar {
  display: none; }

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 12px;
  padding: 10px;
  border: 2px solid rgba(204, 16, 2, 0.89);
  border-radius: 10px;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.781);
  max-width: 175px;
  max-height: 38vh; }
  .card img {
    width: 150px;
    height: 150px;
    object-fit: contain; }
  .card p {
    font-size: 15px; }
  .card button {
    padding: 5px;
    background-color: rgba(204, 16, 2, 0.89);
    color: white;
    border-radius: 15px;
    border: 2px solid black; }
  .card button:hover {
    background-color: rgba(139, 9, 0, 0.89); }
  .card button:active {
    background-color: rgba(255, 255, 255, 0.781);
    color: rgba(204, 16, 2, 0.89); }

.carousel {
  margin: 40px auto;
  width: 60%; }

.section1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70vh; }

.weather-content {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  max-width: 25%;
  text-align: center;
  padding: 20px 20px 50px;
  margin: 30px 0 20px auto;
  background-color: rgba(160, 102, 102, 0.493);
  border-radius: 9px; }
  .weather-content h1 {
    font-size: 20px;
    margin-bottom: 5px;
    color: white; }
  .weather-content p {
    color: white; }
  .weather-content .result {
    margin-bottom: 3%; }
    .weather-content .result p {
      margin: 5px 0 5px;
      text-decoration: underline; }
    .weather-content .result h2 {
      font-size: 40px;
      line-height: 70px;
      margin: -10px 0 10px;
      color: white; }
    .weather-content .result h5 {
      font-size: 21px;
      margin: 2px;
      color: white; }
  .weather-content form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .weather-content form input[type="text"], .weather-content form input[type="submit"], .weather-content form select {
      width: 80%;
      margin: 0px 0 25px;
      border-radius: 4px;
      box-sizing: border-box;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 12px;
      padding-bottom: 12px; }
    .weather-content form input[type="submit"] {
      width: 80%;
      margin: 0 auto;
      cursor: pointer;
      background-color: rgba(204, 16, 2, 0.89);
      border: 1px solid #ffffff;
      color: #fff;
      font-size: 16px;
      transition: width 1s; }
    .weather-content form input[type="submit"]:hover {
      width: 50%; }
    .weather-content form .alert-message {
      font-size: 20px;
      margin: 24px 0 0;
      color: red; }

.section-1 {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }
  .section-1 h5 {
    font-size: 17px;
    color: rgba(204, 16, 2, 0.89); }
  .section-1 .d-1 {
    margin-top: 20px;
    text-align: center;
    max-width: 230px;
    border-bottom: 2px solid black; }
  .section-1 .d-2 {
    margin-top: 20px;
    text-align: center;
    max-width: 270px; }
    .section-1 .d-2 .tarjetas img {
      width: 50px;
      margin: 5px; }
  .section-1 .truck {
    width: 60px;
    margin-bottom: 10px; }

footer {
  background-color: rgba(204, 16, 2, 0.89);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  text-align: center;
  color: white; }
  footer img {
    margin: 2%; }
  footer h2 {
    font-size: 13px;
    text-decoration: underline;
    margin-top: 12px; }
  footer p {
    font-size: 9px; }
