.shop{
    display: flex;
    text-align: center;
    border-top: 5px solid rgba(219, 12, 12, 0.534);
    padding-top: 10px;
    .filters{
        width: 15%;
        ul{
        @include flex(column, center, stretch);
        list-style: none;
        h3{
            color: white;
            margin: auto;
            text-align: center;
            background-color: rgba(250, 44, 44, 0.493);
            border-radius: 5px;
            padding: 15px;
            font-size: 28px;
            width: 95%;
            border: 3px double white;
        }
        button{
            background-color: rgba(160, 102, 102, 0.493);
            color: white;
            padding: 15px;
            margin: 5px 0;
            border: 1px solid white;
            width: 97%;
            border-radius: 5px;
        }
        .active{
            border-radius: 35px 0 0 35px;
            width: 100%;
            position: relative;
            border: 1px solid white;
            border-right: none;
        }
        }
    }
}

#pruebaDom{
    background-color: rgba(160, 102, 102, 0.493);
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 20px;
    row-gap: 20px;
    justify-items: center;
    margin: auto;
    margin-right: 20%;
    margin-bottom: 50px;
    width: 70%;
    height: 75vh;
    overflow-y: scroll;
    padding: 10px;
}
#pruebaDom::-webkit-scrollbar {
    display: none;
}

.card{
    @include flex (column, flex-start, center);
    text-align: center;
    gap: 12px;
    padding: 10px;
    border: 2px solid $color-principal;
    border-radius: 10px;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.781);
    max-width: 175px;
    max-height: 38vh;
    img{
        width: 150px;
        height: 150px;
        object-fit: contain;
    }
    p{
        font-size: 15px;
    }
    button{
        padding: 5px;
        background-color: $color-principal;
        color: white;
        border-radius: 15px;
        border: 2px solid black;
    }
    button:hover{
        background-color: rgba(139, 9, 0, 0.89)
    }
    button:active{
        background-color: rgba(255, 255, 255, 0.781);
        color: $color-principal;
    }
}

.carousel{
    margin: 40px auto;
    width: 60%;
}

// buscador clima (api)

.section1{
    @include flex(row, center, center);
    height: 70vh;
}

.weather-content {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    max-width: 25%;
    text-align: center;
    padding: 20px 20px 50px;
    margin: 30px 0 20px auto;
    background-color: rgba(160, 102, 102, 0.493);
    border-radius: 9px;
    h1{
    font-size: 20px;
    margin-bottom: 5px;
    color: white;
    }
    p{
    color: white;
    }
    .result{
        margin-bottom: 3%;
        p{
            margin: 5px 0 5px;
            text-decoration: underline;
        }
        h2{
            font-size: 40px;
            line-height: 70px;
            margin: -10px 0 10px;
            color: white;
        }
        h5{
            font-size: 21px;
            margin: 2px;
            color: white;
        }
    }
    form {
        @include flex(column, center, center);
        input[type="text"], input[type="submit"], select{
        width: 80%;
        margin: 0px 0 25px;
        border-radius: 4px;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 12px;
        padding-bottom: 12px;
        }
        input[type="submit"]{
            width: 80%;
            margin: 0 auto;
            cursor: pointer;
            background-color: $color-principal;
            border: 1px solid #ffffff;
            color: #fff;
            font-size: 16px;
            transition: width 1s;
        }
        input[type="submit"]:hover{
            width: 50%;
        }
        .alert-message {
            font-size: 20px;
            margin: 24px 0 0;
            color: rgb(255, 0, 0);
        }
    }
}

